@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #470D21 ;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: 'Dongle';
    font-size:xx-large;
}

.movie-container{
    margin: 10px 0;
}


.movie-container select{
   background-color: whitesmoke;
   border: 0px;
   font-size: 18px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border-radius: 6px;
   margin-left: 6px;
   padding: 0.3em;
}

.seat {
    background-color: bisque;
    height: 12px;
    padding-bottom: 6px;
    width: 16px;
    margin: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.seat small{
    padding: 70px 50px 10px 56px;
}

.seat.selected{
    background-color: white;
}

.row{
    display: flex;

}
